<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @pin.image.url(:medium) %>
  <%= @pin.description %>
</p>

<% if @pin.user == current_user %>
  <%= link_to 'Edit', edit_pin_path(@pin) %> |
  <%= link_to 'Destroy', @pin, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', pins_path %>
